<html>
  <h1>Go Url</h1>
<form action="/new" method="post">
  Short Name:<br>
  <input type="text" name="shortname" value="">
  <br>
  Url:<br>
  <input type="text" name="url" value="">
  <br><br>
  Param Url (Add %s to a url to interpolate into):<br>
  <input type="text" name="param_url" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>
</html>
